@{
    ViewData["Title"] = "Objednávka nebyla nalezena :(";
}


<div class="mad-content">
    <div class="container">
        <div class="align-center">
            <h2>Zpět na <a asp-controller="Product">produkty.</a></h2>
        </div>
    </div>
</div>
