@model DyShop.Areas.Admin.Models.ProductParameterViewModel

<form id="parameterForm" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id"/>
    
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title"><h3>Group</h3></div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" type="text" asp-for="Title">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title"><h3>Parameters</h3></div>
            <div>
                <span class="text-danger" asp-validation-for="Parameters"></span>
            </div>
            @for (var i = 0; i < Model.Parameters.Count; i++)
            {
                <div class="form-group">
                    <label asp-for="Parameters[i].Title">Parameter #@(i + 1)</label>
                    <input asp-for="Parameters[i].Title" class="form-control" />
                    <span asp-validation-for="Parameters[i].Title"></span>
                    <input type="hidden" asp-for="Parameters[i].Id" />
                    <button data-parameter-index="@i" class="btn btn-danger">Remove</button>
                </div>
            }
            
            <div>
                <button id="parameterAdd" class="btn btn-secondary">Add</button>
            </div>
        </div>
    </div>
    
    <button class="btn btn-primary">Submit</button>
</form>

<script type="application/javascript">
(function () {
    const init = () => {
        const refreshForm = async (data, url) => {
            const response = await fetch(url, {
                method: "POST",
                body: data
            });
            
            const html = await response.text();
            
            $("#pageContent").html(html);
        };
        
        $("#parameterAdd").click(async function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            
            const data = new FormData(document.getElementById("parameterForm"));
            
            await refreshForm(data, "@Url.Action("AddItem")");
        });
        
        $("button[data-parameter-index]").click(async function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            
            const data = new FormData(document.getElementById("parameterForm"));
            
            data.append("index", $(this).attr("data-parameter-index"));
            
            await refreshForm(data, "@Url.Action("RemoveItem")");
        });
    };
    
    document.addEventListener("DOMContentLoaded", function () {
        init();
    });
    
    if (document.readyState === "complete" || document.readyState === "loaded") {
        init();
    }
})();
</script>
